[Unit]
Description=telegram-bot-crypto-daddy

[Service]
ExecStart=/bin/bash -c "source ~/.profile; cd /var/www/telegram-bot-crypto-daddy; nvm use; npm i; npm run server:production"
Restart=always
User=www
Group=www
Environment=NODE_ENV=production
WorkingDirectory=/var/www/telegram-bot-crypto-daddy

[Install]
WantedBy=multi-user.target